
#QFX switches

set interfaces ge-0/0/4 mtu 9216
set interfaces ge-0/0/4 unit 0 family ethernet-switching interface-mode access
set interfaces ge-0/0/4 unit 0 family ethernet-switching vlan members SERVER
set interfaces irb mtu 9216
set interfaces irb unit 1 family inet mtu 9000
set interfaces irb unit 1 family inet address 10.1.1.1/24
set interfaces lo0 unit 0 family inet address 10.1.1.4/32
set routing-options router-id 10.1.1.4
set routing-options autonomous-system 60001
set protocols bgp graceful-restart
set protocols bgp group CONTRAIL peer-as 64520
set protocols bgp group CONTRAIL multipath multiple-as
set protocols bgp group CONTRAIL allow 10.1.7.1/24
set vlans SERVER vlan-id 1
set vlans SERVER l3-interface irb.1
